body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #515151;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1{
    color: #fff;
  }